* {
    margin: 0 !important;
}

/* body{
    overflow: hidden !important;
} */

p {
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #0a284d !important;
}

.container {
    max-width: 100% !important;
    padding: 0 !important;
}

.left-login {
    padding: 0 15% 0 10% !important;
    padding-top: 20px !important;
}

.kt-login__title {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #000 !important;
}

.kt-login__signin {
    /*margin-top: 90px !important;*/
}

/* Input Styles */

.input-group {
    margin-bottom: 20px !important;
}

input.form-control {
    height: 60px !important;
    border-radius: 2px !important;
}

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
    z-index: 0 !important;
}

.kt-login__actions {
    margin-top: 30px !important;
}

span i.la {
    margin-left: 30px !important;
}

.kt-input-icon.kt-input-icon--left .form-control {
    padding-left: 4.8rem !important;
}

.kt-input-icon > .kt-input-icon__icon [class^='la-'],
.kt-input-icon > .kt-input-icon__icon [class*=' la-'] {
    font-size: 1.75em !important;
    color: #b7b7b7 !important;
}

.divider {
    border-bottom: 1px solid #cbc3c3 !important;
    margin: 30px 0 !important;
}

.btn-brand {
    padding: 20px 30px !important;
    border-radius: 100px !important;
    background: #ad0c48 !important;
    border: none !important;
}

.btn-brand:hover {
    background: #9f0a42 !important;
}

.btn-brand {
    padding: 20px 30px !important;
    border-radius: 100px !important;
}

.login__create-account {
    margin-left: 15px !important;
}

.col.kt-align-right a {
    color: #0a284d !important;
    font-weight: 500 !important;
}

label.kt-checkbox {
    color: #0a284d !important;
    font-weight: 600 !important;
}

.right-image {
    padding: 0 !important;
    height: auto !important;
}

.login-bg-image img {
    width: 100% !important;
    height: 100vh;
    object-fit: cover;
}

footer {
    margin-top: -50px !important;
    padding: 0 15% 0 10% !important;
}

/* .right-footer{
    margin-top: 210px !important;
}

.right-footer p{
    font-size: 12px !important;
} */

button#kt_login_signin_submit {
    color: #fff !important;
}

a#kt_login_signup {
    color: #fff !important;
}

button#kt_login_signup_submit {
    color: #fff !important;
}

div#email-error {
    font-weight: 600 !important;
    /* margin-top: 10px !important; */
}

div#password-error {
    font-weight: 600 !important;
}

.bx-pager.bx-default-pager {
    display: none !important;
}

.bx-wrapper .bx-next {
    left: 70px !important;
}

.bx-wrapper .bx-controls-direction a {
    top: 94% !important;
}

.bx-wrapper .bx-prev {
    left: 30px !important;
}

.bx-wrapper {
    border: none !important;
}

.bx-controls{
    display:    none;
}