.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    justify-items: center;
}

.grid span:last-child {
    place-self: end;
}

.grid span:first-child {
    place-self: start;
}
