.btn{
    color: #AD0C48 !important;
}

a.btn.btn-label-success:focus, a.btn.btn-label-success:hover, a.btn.btn-label-success.active, button.btn.btn-label-success:focus, button.btn.btn-label-success:hover, button.btn.btn-label-success.active, input.btn.btn-label-success:focus, input.btn.btn-label-success:hover, input.btn.btn-label-success.active {
    background-color: #AD0C48 !important;
    color: #ffffff !important;
}

a.btn.btn-label-instagram:focus, a.btn.btn-label-instagram:hover, a.btn.btn-label-instagram.active, button.btn.btn-label-instagram:focus, button.btn.btn-label-instagram:hover, button.btn.btn-label-instagram.active, input.btn.btn-label-instagram:focus, input.btn.btn-label-instagram:hover, input.btn.btn-label-instagram.active {
    background-color: #AD0C48 !important;
    color: #ffffff !important;
}

.kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-text, .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text, .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link .kt-menu__link-text {
    color: #AD0C48 !important;
}

.btn.btn-label-success {
    background-color: rgb(210 210 210 / 10%) !important;
}

.dataTables_wrapper .pagination .page-item:hover > .page-link {
    background: #AD0C48 !important;
    color: #ffffff;
}
