html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
}

h1 {
	color: #fff;
	font-size: 30px;
	font-weight: lighter;
	line-height: 40px;
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
}

h2 {
	color: #444;
	font-weight: lighter;
	margin-top: 0;
}

h3 {
	color: #222;
}

p {
	font-weight: 400;
	line-height: 24px;
}

hr {
	border: none;
	border-bottom: 1px solid #ddd;
	margin: 40px 0;
}

a {
	text-decoration: none;
	transition: color 0.2s;
}

ul {
	color: #b47acf;
	list-style-type: square;
}

ul p {
	color: #666;
	margin: 0 0 2px 0;
}

.dark { color: #888; }
.dark h2 { color: #eee; }

.about a {
	border-bottom: 1px dashed #ddd;
	color: inherit;	
	transition: border 0.2s;
}

.about a:hover {
	border-bottom: 1px solid #aaa;
	color: #222;
}

.desc {
	margin-top: 40px;
}

.center { text-align: center; }
.right { text-align: right; }

.clear {
	clear: both;
}

.inner {
	width: 1000px;
	margin: 0 auto;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.inner.over {
	margin-top: -180px;
}

/* Header */
#header {
	background-image: url(../images/pattern-topo.png);
	box-shadow: 0 -40px 80px #fff inset;
	background-color: #f8f8f8;
	padding: 40px 30px 100px 30px;
}

#header h1 {
	color: #444;
	margin-top: 60px;
	margin-bottom: 100px;
}

#header nav {
	float: right;
}

#main-menu {
	margin-top: 0;
}

#main-menu li {
	display: inline-block;
	margin-left: 30px;
}

#main-menu a {
	color: #bbb;
	font-size: 16px;
	text-decoration: none;
}

#main-menu a:hover {
	color: #666;
}

/* Logo */
#logo {
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 140px;
	height: 42px;
}

.button {
	background-color: #b47acf;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	color: #fff !important;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	padding: 12px 0 12px 16px;
	transition: box-shadow 0.2s;
}

.button:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.button span {
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 0 3px 3px 0;
	font-weight: bold;
	margin-left: 24px;
	padding: 12px 16px 12px 8px;
	position: relative;
	transition: padding 0.2s;
}

.button:hover span {
	padding: 12px 24px 12px 16px;
}

.button span:before {
    width: 14px;
    content: '';
	background-image: url(../images/button-divider.png);
	background-repeat: no-repeat;
    position: absolute;
    left: -14px;
    bottom: 0;
    top: 0;
}

#map-section {
	width: 1000px;
	max-width: 100%;
}

.about {
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
}

.about li {
	margin-top: 6px;
}

.new {
	background-color: #ccc;
	border-radius: 3px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	padding: 0 2px;
	vertical-align: top;
}


/* Editor */
.editor-window {
	display: none;
	margin: 0 auto;
	width: 460px;
}

.editor-body {
	background: #272822;
	color: #cfcfc2;
	padding: 14px;
	font-size: 12px;
}

/* Map */
.map-container {
	margin: 0 auto;
	margin-bottom: 60px;
}

.mapplic-external {
	margin-top: 40px;
}

/* Examples */
#examples {
	font-size: 0;
	display: block;
	list-style: none;
	margin: 0 80px;
	padding: 0;
	text-align: center;
}

#examples li {
	display: inline-block;
	margin-bottom: 6px;
}

#examples a {
	border: 2px solid #fff;
	color: #bbb;
	font-size: 14px;
	display: block;
	padding: 10px;
	margin: 0 10px;
	transition: border-color 0.2s, color 0.2s;
}

#examples a:hover {
	color: #666;
	border: 2px solid #f4f4f4;
}

#examples .active a {
	border: 2px solid #ddd;
	color: #666;
	font-size: 16px;
	font-weight: 600;
}

/* WordPress */
#wordpress {
	color: #fff;
	display: block;
	line-height: 42px;
	font-size: 28px;
	font-weight: lighter;
	text-align: center;
}

#wordpress strong {
	margin-left: 20px;
}

#wordpress img {
	vertical-align: bottom;
}

/* Footer */
#footer {
	background-color: #2f2e2b;
	padding: 60px 0;
}

.copyright a {
	border-bottom: 1px solid transparent;
	color: #aaa;
	font-size: 13px;
	font-weight: bold;
	transition: color 0.2s, border-color 0.2s;
}

.copyright a:hover {
	border-color: #666;
	color: #eee;
}

/* Icons */
.icon {
	background-repeat: no-repeat;
	background-position: center 10px;
	padding-top: 60px;
}

.icon.landmark { background-image: url(../images/icon-landmark.png); }
.icon.layer { background-image: url(../images/icon-layer.png); }
.icon.link { background-image: url(../images/icon-link.png); }
.icon.browser { background-image: url(../images/icon-browser.png); }
.icon.responsive { background-image: url(../images/icon-responsive.png); }
.icon.mobile { background-image: url(../images/icon-mobile.png); }

.container {
	margin: 20px -2%;
}

.container:after {
	clear: both;
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.one-third {
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	width: 29%;
}

.one-half {
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	width: 46%;
}

section {
	padding: 60px 0;
}

section .inner {
	padding-left: 20px;
	padding-right: 20px;
}

section.gray {
	background-color: #ddd;
	color: #fff;
	padding: 20px 0;
	transition: background-color 0.2s;
}

section.gray:hover {
	background-color: #ccc;
}

/* Responsivity */
@media all and (max-width: 667px) {
	#main-menu li {
		display: none;
	}

	#main-menu li:last-child {
		display: inline-block;
	}
}