.kt-widget__username {
	-ms-word-break: break-all;
		 word-break: break-all;
	
		 /* Non standard for WebKit */
		 word-break: break-word;
	
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
			hyphens: auto;
}