.kt-wizard-v3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.kt-wizard-v3 .kt-wizard-v3__nav {
    border-bottom: 1px solid #eeeef4;
}
.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 4rem;
    cursor: pointer;
}
.kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}
.kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item
    .kt-wizard-v3__nav-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #959cb6;
    padding: 2rem 0.5rem;
}
.kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item
    .kt-wizard-v3__nav-body
    .kt-wizard-v3__nav-label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item
    .kt-wizard-v3__nav-body
    .kt-wizard-v3__nav-label
    span {
    font-size: 2rem;
    margin-right: 0.5rem;
}
.kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item
    .kt-wizard-v3__nav-body
    .kt-wizard-v3__nav-bar {
    height: 4px;
    width: 100%;
    background-color: #dee1eb;
    position: relative;
}
.kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item
    .kt-wizard-v3__nav-body
    .kt-wizard-v3__nav-bar:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item[data-ktwizard-state="current"]:after {
    color: #5d78ff;
}
.kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item[data-ktwizard-state="current"]
    .kt-wizard-v3__nav-body {
    color: #5d78ff;
}
.kt-wizard-v3
    .kt-wizard-v3__nav
    .kt-wizard-v3__nav-items
    .kt-wizard-v3__nav-item[data-ktwizard-state="current"]
    .kt-wizard-v3__nav-body
    .kt-wizard-v3__nav-bar:after {
    width: 100%;
    background-color: #5d78ff;
}
@media (max-width: 768px) {
    .kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 2rem 0;
    }
    .kt-wizard-v3
        .kt-wizard-v3__nav
        .kt-wizard-v3__nav-items
        .kt-wizard-v3__nav-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        position: relative;
        width: 100%;
    }
    .kt-wizard-v3
        .kt-wizard-v3__nav
        .kt-wizard-v3__nav-items
        .kt-wizard-v3__nav-item:after {
        position: absolute;
        right: 2rem;
    }
    .kt-wizard-v3
        .kt-wizard-v3__nav
        .kt-wizard-v3__nav-items
        .kt-wizard-v3__nav-item:last-child:after {
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 2rem;
        color: #dee1eb;
    }
    .kt-wizard-v3
        .kt-wizard-v3__nav
        .kt-wizard-v3__nav-items
        .kt-wizard-v3__nav-item
        .kt-wizard-v3__nav-body {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 0.5rem 2rem;
    }
}
.kt-wizard-v3
    .kt-wizard-v3__nav.kt-wizard-v3__nav-items--clickable
    .kt-wizard-v3__nav-item {
    cursor: pointer;
}
.kt-wizard-v3 .kt-wizard-v3__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f9fafc;
}
.kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form {
    width: 60%;
    padding: 4rem 0 5rem;
}
.kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form .kt-wizard-v3__content {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eeeef4;
}
.kt-wizard-v3
    .kt-wizard-v3__wrapper
    .kt-form
    .kt-wizard-v3__content
    .kt-wizard-v3__form {
    margin-top: 3rem;
}
.kt-wizard-v3
    .kt-wizard-v3__wrapper
    .kt-form
    .kt-wizard-v3__content
    .kt-wizard-v3__review
    .kt-wizard-v3__review-item {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eeeef4;
}
.kt-wizard-v3
    .kt-wizard-v3__wrapper
    .kt-form
    .kt-wizard-v3__content
    .kt-wizard-v3__review
    .kt-wizard-v3__review-item
    .kt-wizard-v3__review-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}
.kt-wizard-v3
    .kt-wizard-v3__wrapper
    .kt-form
    .kt-wizard-v3__content
    .kt-wizard-v3__review
    .kt-wizard-v3__review-item
    .kt-wizard-v3__review-content {
    line-height: 1.8rem;
}
.kt-wizard-v3
    .kt-wizard-v3__wrapper
    .kt-form
    .kt-wizard-v3__content
    .kt-wizard-v3__review
    .kt-wizard-v3__review-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form .kt-form__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (max-width: 576px) {
    .kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form .kt-form__actions {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (max-width: 576px) {
    .kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form .kt-form__actions .btn {
        margin: 0 0.5rem 1rem;
    }
}
.kt-wizard-v3
    .kt-wizard-v3__wrapper
    .kt-form
    .kt-form__actions
    [data-ktwizard-type="action-prev"] {
    margin-right: auto;
}
@media (max-width: 576px) {
    .kt-wizard-v3
        .kt-wizard-v3__wrapper
        .kt-form
        .kt-form__actions
        [data-ktwizard-type="action-prev"] {
        margin-right: 0.5rem;
    }
}
.kt-wizard-v3
    .kt-wizard-v3__wrapper
    .kt-form
    .kt-form__actions
    [data-ktwizard-type="action-next"] {
    margin: auto 0 auto auto;
}
@media (max-width: 576px) {
    .kt-wizard-v3
        .kt-wizard-v3__wrapper
        .kt-form
        .kt-form__actions
        [data-ktwizard-type="action-next"] {
        margin: 0 0 1rem;
    }
}
@media (max-width: 768px) {
    .kt-wizard-v3 .kt-wizard-v3__wrapper {
        padding: 2rem;
    }
    .kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form {
        width: 100%;
        padding: 2rem 1rem 4rem;
    }
}
.kt-wizard-v3.kt-wizard-v3--white .kt-wizard-v3__wrapper {
    background-color: #fff;
}
.kt-wizard-v3 [data-ktwizard-type="step-info"] {
    display: none;
}
.kt-wizard-v3 [data-ktwizard-type="step-info"][data-ktwizard-state="current"] {
    display: block;
}
.kt-wizard-v3 [data-ktwizard-type="step-content"] {
    display: none;
}
.kt-wizard-v3
    [data-ktwizard-type="step-content"][data-ktwizard-state="current"] {
    display: block;
}
.kt-wizard-v3 [data-ktwizard-type="action-prev"] {
    display: none;
}
.kt-wizard-v3 [data-ktwizard-type="action-next"] {
    display: inline-block;
}
.kt-wizard-v3 [data-ktwizard-type="action-submit"] {
    display: none;
}
.kt-wizard-v3[data-ktwizard-state="first"] [data-ktwizard-type="action-prev"] {
    display: none;
}
.kt-wizard-v3[data-ktwizard-state="first"] [data-ktwizard-type="action-next"] {
    display: inline-block;
}
.kt-wizard-v3[data-ktwizard-state="first"]
    [data-ktwizard-type="action-submit"] {
    display: none;
}
.kt-wizard-v3[data-ktwizard-state="between"]
    [data-ktwizard-type="action-prev"] {
    display: inline-block;
}
.kt-wizard-v3[data-ktwizard-state="between"]
    [data-ktwizard-type="action-next"] {
    display: inline-block;
}
.kt-wizard-v3[data-ktwizard-state="between"]
    [data-ktwizard-type="action-submit"] {
    display: none;
}
.kt-wizard-v3[data-ktwizard-state="last"] [data-ktwizard-type="action-prev"] {
    display: inline-block;
}
.kt-wizard-v3[data-ktwizard-state="last"] [data-ktwizard-type="action-next"] {
    display: none;
}
.kt-wizard-v3[data-ktwizard-state="last"] [data-ktwizard-type="action-submit"] {
    display: inline-block;
}

.kt-separator.kt-separator--space-none {
    margin: 0 !important;
}
.form-group.form-group-xsss {
    margin-bottom: 0 !important;
}

.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items {
    padding: 0 1.5rem !important;
}

.kt-grid__item.kt-grid__item--fluid.--kt-wizard-v3__wrapper .a {
    text-decoration: underline;
}
