._ug_name, ._ug_option {
	padding-left: 3% !important;
	font-weight: 500 !important;
	/*vertical-align: baseline !important;*/
}
._ul {
	list-style: none !important;
}
#_upload_guide_modal td {
	/*color: red !important;*/
	vertical-align: baseline !important;
}

/*.btn.btn-icon.btn-xs {
	height: 1.5rem !important;
	width: 1.5rem !important;
}
.kt-spinner {
	left: 50%;
	padding-top: 1%;
	padding-bottom: 1%;
}*/
.dt-buttons.btn-group {
	display: block;
	text-align: right;
}