.collections_item {
  cursor: pointer;
}

.collections_item:hover {
  background-color: aliceblue;
}

.collections_item:active {
  background-color: rgb(228, 237, 245);
}

.collections_item_selected {
  background-color: aliceblue !important;
}

.fc-today {
  background-color: #d4d6e4 !important;
}

.fc-event-purple {
  background-color: #8b5cf6 !important;
}

.fc-event-lime {
  background-color: #84cc16 !important;
}

.fc-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 1rem !important;
}

.fc-content::before {
  content: none !important;
}

.fc-event-orange {
  background-color: #f97316 !important;
}

.fc-event-cyan {
  background-color: #06b6d4 !important;
}
