.kt-avatar .kt-avatar__holder {
	width: 320px !important;
	height: 320px !important;
}
.kt-avatar__holder {
	background-size: 320px 320px !important;
}
button._view_file {
	/*display: none !important;*/
}
.kt-spinner {
	left: 50% !important;
}
div._view {
	background-size: contain !important;
}