*{
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 10px 5px;
}

.dashboard-menu{
    background: url(../../../assets/media/bg/Dashboard-BG1.png) no-repeat;
    background-size: cover;
    padding: 30px 50px 30px 50px;
    width: 100% !important;
    height: auto !important;
    position: relative;
}

.dashboard-menu img{
    width: 75px !important;
}

.kt-portlet__body .col-lg-4{
    padding: 30px !important;
}

.menu-title{
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}

button.btn.dashboard-menu_dropdown {
    position: absolute;
    right: 25px;
    bottom: 25px;
    background: #fff;
    border-radius: 150px;
    padding: 8px 5px 7px 11px;
}

i.fas.fa-chevron-down {
    color: #85C63C;
    text-align: center;
    font-size: 15px !important;
}

/* Dropdowns */

.btn {
    color: #85C63C !important;
}

.btn-group {
    left: 375px;
    /*bottom: 23px;*/
    bottom: 50px;
}

button.btn.custom-btn.btn-danger.dropdown-toggle {
    background: #fff;
    color: #85C63C !important;
    border: none !important;
    border-radius: 100px;
    padding: 11px 17px 11px 12px;
}

.dropdown-menu {
    margin-top: 23px !important;
    margin-left: -471px !important;
    padding: 0px !important;
}

.dropdown-custom-icon img{
    font-size: 23px;
}

a.dropdown-item.dropdown-custom-icon img {
    width: 16px !important;
}

a.dropdown-item.dropdown-custom-icon img {
    width: 15px !important;
    color: red;
    margin-right: 15px;
}


@media (min-width: 1025px){
    .kt-content {
        padding: 0px !important;
    }
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #eaeaea !important;
    color: #424242 !important;
}

.nav-link.dropdown-toggle:after, .btn.dropdown-toggle:after {
    font-size: 0.8rem !important;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 20px;
    top: 2.1em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

  .dropdown-menu.show {
    display: block;
    left: 658px;
    position: absolute;
    top: -23px;
}