@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z7jjln');
  src:  url('fonts/icomoon.eot?z7jjln#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z7jjln') format('truetype'),
    url('fonts/icomoon.woff?z7jjln') format('woff'),
    url('fonts/icomoon.svg?z7jjln#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Accounting .path1:before {
  content: "\e900";
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Accounting .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Accounting .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Accounting .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Accounting .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(54, 54, 54);
  opacity: 0.7;
}
.icon-Accounting .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(54, 54, 54);
  opacity: 0.7;
}
.icon-Accounts-Payable:before {
  content: "\e912";
}
.icon-Alerts .path1:before {
  content: "\e913";
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Alerts .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Alerts .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Alerts .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path6:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path7:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path8:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path9:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path10:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path11:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path12:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path13:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path14:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path15:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Alerts .path16:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Communications .path1:before {
  content: "\e923";
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Communications .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Communications .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(240, 188, 226);
  opacity: 0.7;
}
.icon-Communications .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Communications .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Communications .path6:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Communications .path7:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Communications .path8:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Communications .path9:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Communications .path10:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Communications .path11:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Communications .path12:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Communications .path13:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path1:before {
  content: "\e930";
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Company .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Company .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Company .path4:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Company .path5:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Company .path6:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path7:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path8:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path9:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path10:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path11:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path12:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path13:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path14:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path15:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path16:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path17:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path18:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path19:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path20:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path21:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path22:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path23:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path24:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path25:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path26:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path27:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Company .path28:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-dashboard:before {
  content: "\e94c";
}
.icon-Documents:before {
  content: "\e94d";
}
.icon-Item .path1:before {
  content: "\e94e";
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Item .path2:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Item .path3:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Item .path4:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(218, 208, 211);
  opacity: 0.7;
}
.icon-Item .path5:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path1:before {
  content: "\e953";
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Local-Inventory .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Local-Inventory .path3:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path4:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path5:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path6:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path7:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path8:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path9:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path10:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path11:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Local-Inventory .path12:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path1:before {
  content: "\e95f";
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Project-Setup .path2:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path3:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path4:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path5:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path6:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path7:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path8:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path9:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path10:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path11:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path12:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path13:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path14:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Project-Setup .path15:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Project-Setup .path16:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Seller .path1:before {
  content: "\e96f";
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Seller .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Seller .path3:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Seller .path4:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.icon-Seller .path5:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.icon-Settings .path1:before {
  content: "\e974";
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Settings .path2:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Settings .path3:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Settings .path4:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Settings .path5:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Settings .path6:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Settings .path7:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path8:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path9:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path10:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path11:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path12:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path13:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path14:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path15:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path16:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path17:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path18:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Settings .path19:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-System-Administration:before {
  content: "\e987";
}
.icon-Transaction .path1:before {
  content: "\e988";
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Transaction .path2:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Transaction .path3:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Transaction .path4:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Transaction .path5:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Transaction .path6:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Transaction .path7:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Transaction .path8:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Transaction .path9:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Transaction .path10:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Warehouse .path1:before {
  content: "\e992";
  color: rgb(234, 231, 232);
  opacity: 0.7;
}
.icon-Warehouse .path2:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(226, 221, 223);
  opacity: 0.7;
}
.icon-Warehouse .path3:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Warehouse .path4:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Warehouse .path5:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
