/* ---------------------------------------------------------------------------------------- */

/* Custom CSS Styles */

/* KT Header Topbar Style */
.kt-header .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon svg g [fill] {
    fill: #AD0C48 !important;
  }
  
  /* KT Header Topbar Style */
  div#kt_aside_brand {
    height: 120px;
  }
  
  
  /* Button Style */
  .btn{
    color: #AD0C48 !important;
  }
  
  .btn-success {
    color: #fff !important;
    background-color: #0abb87;
    border-color: #0abb87;
    color: #ffffff;
  }
  
  .btn-info {
    color: #fff !important;
    background-color: #5578eb;
    border-color: #5578eb;
  }
  
  .transaction-btn-color .btn-danger {
    color: #fff !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
      background-color: #AD0C48 !important;
  }
  
  /* Filter Button */
  
  
  a.btn.btn-label-primary:focus, a.btn.btn-label-primary:hover, a.btn.btn-label-primary.active, button.btn.btn-label-primary:focus, button.btn.btn-label-primary:hover, button.btn.btn-label-primary.active, input.btn.btn-label-primary:focus, input.btn.btn-label-primary:hover, input.btn.btn-label-primary.active {
    background-color: #AD0C48 !important;
    color: #ffffff !important;
  }
  
  .btn.btn-label-primary {
    background-color: rgb(210 210 210 / 10%) !important;
  }
  
  .module__cta .module__filter button{
    border: 1px solid #AD0C48;;
  }
  
  .module__cta .module__create a{
    border: 1px solid #AD0C48;;
  }
  
  .module__cta .module__create a{
    font-weight: 600 !important;
  }
  
  /* Login Style */
  .kt-login__actions.custom_login .btn-brand {
    padding: 25px 55px !important;
  }
  
  .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-text, .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text, .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link .kt-menu__link-text {
    color: #AD0C48 !important;
  }
  
  /* .kt-portlet .kt-portlet__body {
    padding: 65px !important;
    box-shadow: 0px 10px 22px 1px rgba(0,0,0,0.1) !important;
  } */
  
  /* Checkbox Style */
  .kt-checkbox.kt-checkbox--solid > span {
    background: transparent !important;
    border: 2px solid #e2e2e2 !important;
  }
  
  .kt-checkbox.kt-checkbox--solid > input:checked ~ span {
    background: #AD0C48 !important; 
  }
  
  .kt-checkbox.kt-checkbox--solid > input:focus ~ span {
    border: 2px solid #e2e2e2 !important; 
  }
  
  .kt-checkbox.kt-checkbox--solid > span:after {
    border: solid #ffffff;
  }
  
  /* Page Link Style */
  .page-link:hover {
    background-color: #989aaf !important;
  }
  
  table#accounting_entries_table {
    margin: 30px 0 !important;
  }
  
  /* Actions Dropdown Style */
  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #AD0C48 !important;
    color: #ffffff !important;
  }
  
  .dropdown-menu > li > a > i, .dropdown-menu > .dropdown-item > i:hover {
    color: #cccccc !important;
  }
  
  .dropdown-menu > li > a [class^="la-"], .dropdown-menu > li > a [class*=" la-"], .dropdown-menu > .dropdown-item [class^="la-"], .dropdown-menu > .dropdown-item [class*=" la-"] {
    margin-top: -4px !important;
  }
  
  .kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid {
    padding: 20px 50px 0 50px !important;
  }
  
  .dataTables_wrapper .pagination .page-item.active > .page-link {
    background: #AD0C48 !important;
  }
  
  .btn.btn-clean i{
    color: #AD0C48 !important;
  }
  
  div#accounting_entries_table_info {
    font-weight: 600 !important;
  }
  
  .module__cta .kt-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px !important;
    padding: 0 !important;
  }
  
  .module__cta .module__create {
    display: flex;
    margin: 0;
    padding: 0 1.25rem 0 0;
    font-size: 1rem;
    font-weight: 400;
    justify-content: flex-start;
    color: #74788d;
  }
  
  .module__cta .module__filter {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 0.75rem;
    margin: 0;
  }
  
  /* Pagination Styles */
  .dataTables_wrapper .pagination .page-item:hover > .page-link {
    background: #AD0C48 !important;
  }
  
  ul.kt-menu__nav {
      background: #fff !important;
  }
  
  
  /* Off Canvas Custom Styles */
  .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link {
    background-color: #F6F6F6 !important;
    border-right: 3px solid #AD0C48 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
    background-color: #ffffff !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    background-color: #F6F6F6 !important;
    color: #AD0C48 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
    color: #AD0C48 !important;
    font-weight: 600 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    background-color: #F6F6F6 !important;
    color: #AD0C48 !important;
  }
  
  /* Sub Menu Text Color when hover */
  .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
    color: #AD0C48 !important;
  }
  
  /* Parent Text Color */
  .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-text {
    color: #6F6F6F !important;
    font-weight: 600 !important;
  }
  
  /* Icon Color when Hover */
  .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon {
    color: #AD0C48 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-text {
    color: #AD0C48 !important;
    font-weight: 600 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-text {
    color: #AD0C48 !important;
    font-weight: 600 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__link {
    background-color: #F6F6F6 !important;
    color: #AD0C48 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text {
    color: #AD0C48 !important;
  }
  
  /* Menu Icon Color*/
  .kt-aside .kt-aside-menu > .kt-menu__nav .kt-menu__item > .kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class^="flaticon2-"], .kt-aside .kt-aside-menu > .kt-menu__nav .kt-menu__item > .kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class*=" flaticon2-"] {
    color: #c5c5c5 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-icon {
    color: #c5c5c5 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
    color: #909090 !important;
  }
  
  /* Menu Border */
  a.kt-menu__link.kt-menu__toggle {
    border-right: 3px solid #f1f1f1;
  }
  
  a.kt-menu__link.kt-menu__toggle:hover {
    border-right: 3px solid #AD0C48;
  }
  
  /* li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--here.kt-menu__item--open {
    border-right: 3px solid #AD0C48;
  } */
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__ver-arrow, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__ver-arrow {
    color: #000 !important;
  }
  
  /* Brand Background Color */
  .kt-aside__brand {
    background-color: #ffffff !important;
  }
  
  .kt-aside-menu {
    background-color: #ffffff !important;
  }
  
  .kt-aside .kt-aside-menu {
    margin: 0px !important;
  }
  
  
  /* Menu Styles */
  .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__heading .kt-menu__ver-arrow, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__ver-arrow {
    color: #272626 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #000 !important;
    font-weight: 500 !important;
  }
  
  /* Icon Color When Active
  .kt-aside .kt-aside-menu > .kt-menu__nav .kt-menu__item > .kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class^="flaticon2-"], .kt-aside .kt-aside-menu > .kt-menu__nav .kt-menu__item > .kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class*=" flaticon2-"] {
    color: #AD0C48 !important;
  } */
  
  /* Datepicker Dropdown */
  .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    top: 285px !important;
  }
  
  .kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg g [fill] {
    fill: #AD0C48 !important;
  }
  
  .kt-aside .kt-aside-menu {
    box-shadow: 10px 3px 17px -8px rgba(0,0,0,0.17);
  }
  
  /* Cards Global Style */
  .kt-portlet.kt-portlet--height-fluid {
    border-top: 4px solid #AD0C48;
  }
  
  /* Cards Designs Styles Profile 2*/
  .kt-bg-success {
    background-color: #AD0C48 !important;
  }
  
  .progress {
    background-color: #EAEAEA !important;
    margin-top: 5px !important;
  }
  
  .kt-portlet .cards__custom {
    padding: 35px !important;
    margin-top: -83px;
    z-index: 1;
  }
  
  .kt-portlet__foot.kt-portlet__foot--sm {
    background: #F6F6F6 !important;
  }
  
  .kt-widget__text.kt-align-left {
    font-weight: 600 !important;
    color: #525050 !important;
  }
  
  .kt-widget__text.kt-align-right {
    font-weight: 600 !important;
    color: #525050 !important;
  }
  
  .kt-widget.kt-widget--user-profile-2 .kt-widget__head .kt-widget__media .kt-widget__pic.kt-widget__pic--success {
    background: #FFE3EE !important;
    border: 5px solid #fff;
  }
  
  .kt-font-success {
    color: #AD0C48!important;
  }
  
  .kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--active {
    background: #AD0C48 !important;
  }
  
  .kt-pagination.kt-pagination--brand .kt-pagination__links li:hover {
    background: #AD0C48 !important;
  }
  
  .kt-font-brand {
    color: #AD0C48 !important;
  }
  
  .kt-widget.kt-widget--user-profile-2 .kt-widget__head {
    margin: 0 auto !important;
  }
  
  .card__info {
    text-align: center !important;
    margin-top: 5px !important;
  }
  
  .card__info a {
    font-size: 15px !important;
    font-weight: 600;
    color: #484646 !important;
  }
  
  .kt-portlet .kt-portlet__head.kt-portlet__head--noborder {
    padding: 10px 20px 100px 20px;
    background: #f9f9f9 !important;
  }
  
  #projectContent .kt-checkbox.kt-checkbox--solid > span {
    border-color: #888 !important;
  }
  
  .kt-widget.kt-widget--user-profile-2 .kt-widget__body .kt-widget__item .kt-widget__contact a.kt-widget__data:hover {
    color: #AD0C48 !important;
  }
  
  /* Create Styles Button */
  a.btn.btn-label-success:focus, a.btn.btn-label-success:hover, a.btn.btn-label-success.active, button.btn.btn-label-success:focus, button.btn.btn-label-success:hover, button.btn.btn-label-success.active, input.btn.btn-label-success:focus, input.btn.btn-label-success:hover, input.btn.btn-label-success.active {
    background-color: #AD0C48 !important;
    color: #fff !important;
  }
  
  a.btn.btn-label-instagram:focus, a.btn.btn-label-instagram:hover, a.btn.btn-label-instagram.active, button.btn.btn-label-instagram:focus, button.btn.btn-label-instagram:hover, button.btn.btn-label-instagram.active, input.btn.btn-label-instagram:focus, input.btn.btn-label-instagram:hover, input.btn.btn-label-instagram.active {
    background-color: #AD0C48!important;
    color: #fff !important;
  }
  
  .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link.active {
    color: #AD0C48 !important;
    border-bottom: 2px solid #AD0C48;
  }
  
  /* Card Styles Profile 3 */
  .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__pic.kt-widget__pic--success {
    background: #FFE3EE !important;
  }
  
  /* Card Styles Profile 4*/
  .kt-widget.kt-widget--user-profile-4 .kt-widget__head .kt-widget__media .kt-widget__pic.kt-widget__pic--success {
    background: #FFE3EE !important;
    border: 5px solid #fff;
  }
  
  .btn-brand {
    color: #fff !important; 
    background-color: #AD0C48 !important;
    border-color: transparent !important;
    padding: 15px 130px !important;
    margin-top: 20px !important;
  }
  
  .btn-brand:hover {
    background-color: #a51c49 !important
  }
  
  .seller_button {
    padding: 15px 70px !important;
    background-color: #AD0C48 !important;
    color: #fff !important; 
  }
  
  .seller_button:hover {
    background-color: #a51c49 !important
  }
  
  .btn.btn-label-brand {
    color: #fff !important; 
    background-color: #AD0C48 !important;
  }
  
  .btn.btn-label-brand:hover {
    background-color: #a51c49 !important
  }
  
  
  .kt-widget.kt-widget--user-profile-4 .kt-widget__head .kt-widget__content .kt-widget__section .kt-widget__username:hover {
    color: #AD0C48 !important;
  }
  
  .kt-portlet__body.kt-portlet__body--fit-y {
    margin-top: -50px !important;
    z-index: 1;
  }
  
  /* Modal Styles */
  .btn-primary {
    color: #fff;
    background-color: rgba(10, 187, 135, 0.1) !important;
    border: none !important;
  }
  
  .btn-primary:hover {
    background-color: #AD0C48 !important;
    color: #fff !important;
  }
  
  /* Create Tabbing Color */
  .kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item[data-ktwizard-state="current"] .kt-wizard-v3__nav-body {
    color: #AD0C48 !important;
  }
  
  .kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item[data-ktwizard-state="current"] .kt-wizard-v3__nav-body .kt-wizard-v3__nav-bar:after {
    background-color: #AD0C48 !important;
  }
  
  /* Create Tabbing Color */
  .custom-transaction_payments .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content .kt-widget__head {
    align-items: flex-start !important;
    height: 30px !important;
    margin-top: 10px !important;
  }
  
  .custom-transaction_payments .kt-portlet .kt-portlet__head.kt-portlet__head--noborder {
    background: #fff !important;
  }
  
  .custom-transaction_payments .kt-widget__content {
    padding-left: 20px !important;
  }
  
  .kt-widget__pic.kt-widget__pic--danger.kt-font-primary.kt-font-boldest.kt-font-light.kt-hidden- {
    color: #AD0C48 !important;
  }
  
  /* Transaction Payments Color */
  .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content .kt-widget__info .kt-widget__desc a{
    color: #9c9c9c !important;
  }
  
  .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content .kt-widget__info .kt-widget__desc a:hover{
    color: #AD0C48 !important;
  }
  
  .kt-widget.kt-widget--user-profile-3 .kt-widget__bottom .kt-widget__item .kt-widget__details .kt-widget__value {
    color: #AD0C48 !important;
  }
  
  .custom_portlet_header .kt-portlet__head.kt-portlet__head--noborder {
    background: transparent !important;
  }
  
  .kt-portlet__head-label.custom_edit_icon i {
    color: #AD0C48 !important;
  }
  
  /* Accounts Payable Styles*/
  .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content .kt-widget__head .kt-widget__username:hover {
    color: #AD0C48 !important;
  }
  
  
  .kt-badge.kt-badge--brand {
    color: #AD0C48 !important;
    font-weight: 900 !important;
    background: rgb(164 169 167 / 10%) !important;
  }
  
  .kt-badge.kt-badge--success {
    color: #fff !important;
    background: #AD0C48 !important;
    font-weight: 600 !important;
  }
  
  
  /* Table Styles*/
  .dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
    color: #6f6f6f;
    font-weight: 600 !important;
  }
  
  table.table.table-striped-.table-bordered.table-hover {
    font-weight: 600 !important;
  }
  
  
  /* Custom Import Style */
  .custom_import_style button.btn.btn-brand.btn-success.btn-elevate.btn-sm.disabled {
    padding: 15px 20px !important;
  }
  
  .custom_import_style button.btn.btn-brand.btn-success.btn-elevate.btn-sm {
    padding: 15px 20px !important;
  }
  
  
  /* Custom Icon Size */
  .rems-ico {
      font-size: 35px !important;
  }
  
  a.kt-menu__link.kt-menu__toggle {
    padding-top: 20px !important;
  }
  
  /* Custom Transaction Text Color for Collection Status */
  .btn.transaction_custom_btn.btn-danger {
    color: #fff !important;
  }
  
  .kt-aside .ps > .ps__rail-y > .ps__thumb-y {
    background: none !important;
    opacity: 1;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__section {
    margin: 0px 0 0 0 !important;
  }
  
  
  /* Custom November 24 2020 */
  
  /* Caret Hover Style */
  .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__ver-arrow, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__ver-arrow {
    color: #000000 !important;
  }
  
  /* Sidebar Menu Style */
  .kt-aside-menu .kt-menu__nav .kt-menu__item > .kt-menu__heading, .kt-aside-menu .kt-menu__nav .kt-menu__item > .kt-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100px;
    width: 170px;
    position: relative;
    text-align: center;
    border: .5px solid #f1f1f1;
  }
  
  /* .kt-aside-menu .kt-menu__nav .kt-menu__item > .kt-menu__heading, .kt-aside-menu .kt-menu__nav .kt-menu__item > .kt-menu__link:hover {
    border-right: 3px solid #AD0C48;
  } */
  
  .kt-aside {
    width: 170px !important;
  }
  
  @media (min-width: 1025px) {
  .kt-aside--fixed .kt-wrapper {
    padding-left: 170px !important;
  }
  }
  
  @media (min-width: 1025px){
  .kt-aside--enabled .kt-header.kt-header--fixed {
    left: 170px !important;
  }
  }
  
  @media (min-width: 1025px){
  .kt-aside--enabled.kt-subheader--fixed .kt-subheader {
    left: 170px !important;
  }
  }
  
  a.kt-menu__link.kt-menu__toggle .kt-menu__link-text {
    font-size: .9rem !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link {
    padding: 0 25px;
    padding-left: 25px !important; 
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item {
    height: 60px !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item {
    height: 60px !important;
    background: #fbfbfb;
    border-bottom: 1px solid #fff;
  }
  
  i.kt-menu__link-bullet.kt-menu__link-bullet--dot {
      display: none !important;
  }
  
  .kt-aside-menu .kt-menu__nav .kt-menu__section {
    justify-content: center;
  }
  
  .kt-aside__brand-logo {
    padding: 0 35px !important;
  }
  
  button#kt_aside_toggler {
    display: none !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #333333 !important;
  }
  
  .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    font-weight: 500 !important;
    font-size: .9rem !important;
  }

  div#kt_aside {
    z-index: 999 !important;
    height: 100px !important;
} 