*{
    margin:0;
    padding: 0;
}

.back-button{
    border-radius: 50%;
    /*background-color: #fff;*/
    background-color: #111111;
    padding: 10px 18px;
    border: none;
    color: #000;
    margin-top: 150px;
}

.c-p{
    padding-left: 20px;
    padding-right: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px;
    text-align: center;
}

.hidden{
    display: none;
    transition-duration: 0.5s;
}

.show{
    display: block;
    transition-duration: 0.5s;
}

.dashboard-wrapper{
    /*background: url('../../img/dashboard/img/dashboard-bg-green.png');*/
     background-color: whitesmoke;

    background-size: cover;
    width: 100%;
    height: 100%;
}

.dashboard-main, .dashboard-legal-submain, .dashboard-marketing-submain, .dashboard-sales_admin-submain, .dashboard-documentation-submain, .dashboard-credit_collection-submain, .dashboard-property_management-submain, .dashboard-accounting-submain, .dashboard-taxation-submain, .dashboard-warehouse-submain, .dashboard-construction-submain, .dashboard-purchasing-submain{
    position: relative;
    top: 20%;
}

.dashboard-main .row, .dashboard-legal-submain .row, .dashboard-marketing-submain .row, .dashboard-sales_admin-submain .row, .dashboard-documentation-submain .row, .dashboard-credit_collection-submain .row, .dashboard-property_management-submain .row, .dashboard-accounting-submain .row, .dashboard-taxation-submain .row, .dashboard-warehouse-submain .row, .dashboard-construction-submain .row, .dashboard-purchasing-submain .row{
    margin-bottom: 30px;
}


.dashboard-cards{
    text-align: center;
    /*background-color: rgb(68, 161, 44, 0.5);*/
    background-color: white;
    padding: 55px 15px 45px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 100%;
    transition: 0.3s;
    transition-duration: 0.5s;
}

.dashboard-cards:hover{
    background-color: rgb(68, 161, 44, 0.8);
    cursor: pointer;
}

.dashboard-cards a{
    color: #0A284D;
    font-size: 24px;
    font-weight: bold;
}

.dashboard-cards a:hover{
    text-decoration: none;
    color: white;
}

.dashboard-icon{
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

.kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid{
    padding: 0px !important;
}