._ug_name, ._ug_option {
	padding-left: 3% !important;
	font-weight: 500 !important;
	/*vertical-align: baseline !important;*/
}
._ul {
	list-style: none !important;
}
#_upload_guide_modal td {
	/*color: red !important;*/
	vertical-align: baseline !important;
}

.dt-buttons.btn-group {
	display: block;
	text-align: right;
}

.kt-portlet__body span {
	-ms-word-break: break-all;
		 word-break: break-all;
	
		 /* Non standard for WebKit */
		 word-break: break-word;
	
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
			hyphens: auto;
}