.nav-tabs .nav-item .nav-link {
    color: #707071 !important;
}

.accordion.accordion-toggle-arrow .card .card-header .card-title {
    color: #707071 !important;
}

.nav-tabs .nav-item .nav-link i {
    color: #707071 !important;
}

.accordion .card .card-header .card-title > i {
    color: #707071 !important;
}

.kt-badge.kt-badge--success {
    color: #0abb87 !important;
    font-weight: 900 !important;
    background: rgba(10, 187, 135, 0.1) !important;
}

.kt-badge.kt-badge--brand {
    color: #5867dd !important;
    font-weight: 900 !important;
    background: rgba(88, 103, 221, 0.1) !important;
}

.accordion.accordion-light .card .card-header .card-title {
    font-size: 1rem !important;
    font-weight: 400 !important;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
    font-size: 1rem !important;
    font-weight: 400 !important;
}

.btn.btn-icon.btn-icon-md [class^="flaticon-"]{
    font-size: 1rem !important;
}

.card-header {
    border: 1px solid #eee !important;
    padding: 1px 20px !important;
    margin-bottom: 5px !important;
}

.kt-portlet {
    box-shadow: none !important;
    margin-bottom: 0px !important;
}

.accordion.accordion-light .card:last-child {
    margin-bottom: 0px !important;
}