.kt-section .kt-section__title {
	font-size: 1.1rem;
}
.kt-notification-v2 .kt-notification-v2__item {
	padding: 0.50rem 0 !important;
}
div.__head > .kt-portlet, div.__head > .kt-portlet .kt-portlet__body {
	padding: 15px !important;
}
.kt-separator.kt-separator--space-none {
	margin: 0 !important;
}
#_documents li.list-group-item {
	background-color: #f3f2f7;
}
#_document_checklists li.list-group-item {
	background-color: pink;
}
.connectedSortable {
	max-height: 315px !important;
	height: 315px;
	overflow-x: hidden;
  overflow-y: auto;
}
.list-group-item {
	margin-bottom: 2px;
	cursor: move;
	padding: 0.3rem 1.75rem !important;
}