/*.alert .alert-icon i {
    font-size: 1.6rem;
}*/
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  padding: 0.4rem 3rem !important;
  height: 36.38px !important;
  /*#ea4e79*/
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding: 0.4rem 3rem !important;
  height: 36.38px !important;
  /*#ea4e79*/
}
