
.kt-widget__username{
    font-size: 1.9rem !important;
    margin: 0 !important;
    color: #48465b !important;
}

.kt-widget__desc {
    font-size: 1.2rem;
    color: #48465b;
    font-weight: 600;
}
.kt-section__title {
    font-size: 1.1rem !important;
    margin-bottom: 10px !important;
}

.kt-widget__stats {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 1.7rem;
}

.kt-widget__icon {
    font-size: 2.7rem;
    color: #a2a5b9;
    font-weight: 400;
}

.kt-widget__details {
    padding-left: 1rem;
}

.kt-widget__value {
    font-weight: 600;
    color: #48465b !important;
}