#tblFields {  
    position: relative;
    height: 500px !important;
    overflow: auto;
}​

.btn-group-xs > .btn, .btn-xs {
    padding: .40rem .4rem !important;
    font-size: .975rem !important;
    line-height: .5 !important;
    border-radius: .2rem !important;
  }